NEXT_PUBLIC_SUPABASE_URL=https://vtyuntudkulydjzvcfhb.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ0eXVudHVka3VseWRqenZjZmhiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODgzMTY5NDIsImV4cCI6MjEwMzg5Mjk0Mn0.6XEtJaidz6dDoAfZI7orXalvnlQK1HXdn6qBMAKhTSY
NEXT_PUBLIC_API_URL=http://localhost:5000/api
